root = true

[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true

[*.ts]
indent_size = 2
indent_style = space

[*.json]
indent_size = 2
indent_style = space

[*.jsonc]
indent_size = 2
indent_style = space

[*.md]
indent_size = 2
indent_style = space
