name: CI
on:
  push:
  pull_request:

jobs:
  run-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master

      - name: Install Deno
        uses: denoland/setup-deno@v1
        with:
          deno-version: 1.20.3

      - name: Check the lint and the formatting tools
        run: deno task fmt:check
        env:
          NO_COLOR: true
      - name: Upload coverage reports to Codecov with GitHub Action
        uses: codecov/codecov-action@v3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
